* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(../multi/Mbackg.jpg);
}

h3 {
  flex-flow: flex-end;
  color: black;
}

#canvas {
  width: 800px;
  height: 500px;
  border: 4px solid;
}
.screen {
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
}
